<form action="../api/home.py" method="post">
    <div class="form-group">
        <label for="gender">You are: </label>
        <select class="form-control" id="gender">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="age">Your age: </label>
        <input class="form-control" type="number" id="age" aria-describedby="age" />
        <small id="age" class="form-text text-muted">We won't share this with anybody!</small>
    </div>
    <div class="form-group">
        <label for="ticket">How much do you spend on tickets? </label>
        <input class="form-control" type="number" id="ticket" aria-describedby="ticket" />
    </div>
    <div class="form-group">
        <label for="family">How many family members would you bring on a trip? </label>
        <input class="form-control" type="number" id="family" aria-describedby="family" />
    </div>
    <div type="submit" class="btn btn-block btn-success">Find Out if you Survive!</div>
</form>